{% extends 'base.html.twig' %}
{% import "macro/star-rating-display.html.twig" as starRatingDisplay %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="show-article-container p-3 mt-4 float-left">
                    <h2 class="text-center pb-3">Намери подходящия учител</h2>
                    <div class="row search-tabs">
                        <div class="col-sm-6 text-center pb-3">
                            <a class="active js--lesson-type" href="" data-value="online">Онлайн</a>
                        </div>
                        <div class="col-sm-6 text-center pb-3">
                            <a class="js--lesson-type" href="" data-value="in-person">Присъствено</a>
                        </div>
                    </div>
                    <form action="{{ path('teacher_list') }}" method="get">
                        <div class="row">
                            <div class="col-12 form-group pt-3 js--subject">
                                <select class="form-control" name="subjectId" id="subject">
                                    <option value="">Всички предмети</option>
                                    {% for subject in subjects %}
                                        <option value="{{ subject.id }}" {% if subject.id == app.request.get('subjectId')|default %}selected{% endif %}>{{ subject.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6 form-group float-left pt-3 d-none js--city">
                                <select class="form-control" name="cityId" id="city">
                                    <option value="">Всички градове</option>
                                    {% for city in cities %}
                                        <option value="{{ city.id }}" {% if city.id == app.request.get('cityId')|default %}selected{% endif %}>{{ city.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-primary">Търси</button>
                            </div>
                        </div>

                        <input type="hidden" class="js--lesson-type-hidden" name="lessonType" value="online">
                        <input type="hidden" name="orderBy" value="highest">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="show-article-container p-3 mt-4 float-left">
                    <h2 class="text-center pb-3">Потърси учители сега</h2>
                    <div class="row">
                        <div class="col-12 text-center">
                            <p>Намиране на частни учители не винаги е лесна задача. Независимо дали търсите учител по Български език, Математика, Физика - ние се стараем да направим процеса възможно най-лесен!</p>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-4">
                            <a href="{{ path('teacher_list', {lessonType: 'online'}) }}" class="btn btn-secondary">Потърси учител</a>
                            <a href="#" class="btn btn-primary">Регистрирай се</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="show-article-container p-3 mt-4 float-left">
                    <h2 class="text-center pb-3">Намери учители в твоя град</h2>
                    <div class="row d-flex justify-content-center">
                        <div class="col-6">
                            {% for city in cities %}
                                <a href="{{ path('teacher_list', {lessonType: 'online', cityId: city.id}) }}" class="btn btn-success">{{ city.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="show-article-container p-3 mt-4 float-left">
                    <h2 class="text-center pb-3">Най-търсени предмети</h2>
                    <div class="row d-flex justify-content-center">
                        <div class="col-6">
                            {% for subject in subjects|slice(0,4) %}
                                <a href="{{ path('teacher_list', {lessonType: 'online', subjectId: subject.id}) }}" class="btn btn-success">{{ subject.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = function() {
            let lessonTypes = document.querySelectorAll('a.js--lesson-type');
            let lessonTypeHidden = document.querySelector('input.js--lesson-type-hidden');
            let subject = document.querySelector('.js--subject');
            let city = document.querySelector('.js--city');

            for(let i = 0; i < lessonTypes.length; i++) {
                let type = lessonTypes[i];
                type.onclick = function(e) {
                    e.preventDefault();
                    // Remove active class of all lessonTypes
                    Array.from(lessonTypes).forEach((el) => el.classList.remove('active'));
                    // Add active class only to the clicked lesson type
                    type.classList.add('active');
                    // Change lessonType with lesson type value
                    lessonTypeHidden.value = type.dataset.value;
                    if (type.dataset.value === 'online') {
                        // if lesson type is online make subject 12sm and hide city
                        subject.classList.remove('col-6');
                        subject.classList.add('col-12');
                        city.classList.add('d-none');
                    }
                    if (type.dataset.value === 'in-person') {
                        // if lesson type is in-person make subject 6sm and show city
                        subject.classList.remove('col-12');
                        subject.classList.add('col-6');
                        city.classList.remove('d-none');
                    }
                }
            }
        }
    </script>
{% endblock %}