{% extends 'base.html.twig' %}
{% import "macro/star-rating-display.html.twig" as starRatingDisplay %}

{% block title %}Нашите учители{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="show-article-container p-3 mt-4 float-left">
                    <h1 class="text-center pb-3">Филтри</h1>
                    <div class="row search-tabs">
                        <div class="col-sm-6 text-center pb-3">
                            <a class="{% if app.request.get('lessonType')|default == 'online' %}active{% endif %}" href="{{ path('teacher_list', {lessonType: 'online'}) }}">Онлайн</a>
                        </div>
                        <div class="col-sm-6 text-center pb-3">
                            <a class="{% if app.request.get('lessonType')|default == 'in-person' %}active{% endif %}" href="{{ path('teacher_list', {lessonType: 'in-person'}) }}">Присъствено</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="show-article-container p-3 mt-4 float-left">
                    <h1 class="text-center pb-3">Учители</h1>
                    <div class="row">
                        <div class="col-9">
                            <h3>Общо: {{ pagerfanta.nbResults }}</h3>
                        </div>
                        <div class="col-3 form-group float-right">
                            <select class="form-control js-reviews-sort" name="reviewsSort" id="reviews-sort">
                                <option value="highest" {% if orderBy == 'highest' %}selected{% endif %}>Най - висок рейтинг</option>
                                <option value="lowest" {% if orderBy == 'lowest' %}selected{% endif %}>Най - нисък рейтинг</option>
                                <option value="cheapest" {% if orderBy == 'cheapest' %}selected{% endif %}>Най - ниска цена за час</option>
                                <option value="mostExpensive" {% if orderBy == 'mostExpensive' %}selected{% endif %}>Най - висока цена за час</option>
                            </select>
                        </div>
                    </div>
                    {% for teacher in teachers %}
                        <div class="article-container my-1">
                            <a href="#">
                                <img width="147" class="article-img" src="{{ asset('images/teacher-pics/' ~ teacher.logo) }}">
                                <div class="article-title d-inline-block pl-3 align-middle">
                                    <span>{{ teacher.name }}</span>
                                    {{ starRatingDisplay.renderRating(teacher.rating) }} {% if teacher.rating > 1 %}({{ teacher.rating }} - базирано на {{ teacher.activeReviewsCount }} отзива){% endif %}
                                    <br>
                                    <span class="article-details"> Предмет: <b>{{ teacher.subject.name }}</b></span>
                                    <br>
                                    <span class="article-details"> Град: <b>{{ teacher.city.name }}</b></span>
                                    <br>
                                    <span class="article-details"> Начини на обучение:
                                        {% if teacher.lessonTypes|length == 1 %}
                                            {% if teacher.lessonTypes|first.type == 'online' %}
                                                <b>Онлайн</b>
                                            {% else %}
                                                <b>Присъствено</b>
                                            {% endif %}
                                        {% else %}
                                            {% set firstType = teacher.lessonTypes[0] %}
                                            {% set secondType = teacher.lessonTypes[1] %}
                                            {% if firstType.type == 'online' %}
                                                <b>Онлайн, </b>
                                                {% else %}
                                                <b>Присъствено, </b>
                                            {% endif %}

                                            {% if secondType.type == 'online' %}
                                                <b>Онлайн</b>
                                                {% else %}
                                                <b>Присъствено</b>
                                            {% endif %}
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="float-right pr-3 pt-4">
                                    <span style="color: #dc3545">{{ teacher.pricePerHour }} лв</span> / ч
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    {% if pagerfanta.haveToPaginate %}
                        <div class="float-right pt-3">
                            <ul class="pagination">
                                {% for i in 1..pagerfanta.getNbPages %}
                                    <li class="page-item {{ pagerfanta.currentPage == i ? 'disabled' : '' }}"><a class="page-link" href="{{ path('teacher_list') }}?page={{ i }}&orderBy={{ orderBy }}">{{ i }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" class="js-teachers-route" id="teachers-route" name="teachersRoute" value="{{ path('teacher_list') }}">

{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>
        $( document ).ready(function() {
            $( ".js-reviews-sort" ).change(function() {
                let url = document.getElementsByClassName('js-teachers-route')[0].value + '?orderBy=' + this.value;
                window.location.replace(url);
            });
        });
    </script>
{% endblock %}